<div class="search-form">
  <form method="POST">
  <div class="form-group">
    <label for="keyword">Search: </label>
    <input type="text" class="form-control" id="keyword" name="keyword" placeholder="Enter keyword">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>